body {
  margin: 0;
  font-family: Arial;
  background-color: #111;
  color: white;
  display: flex;
}

.sidebar {
  width: 220px;
  background: #1a1a1a;
  padding: 20px;
  border-right: 3px solid orange;
  display: flex;
  flex-direction: column;
}

.sidebar h1 {
  color: orange;
  font-size: 20px;
}

.sidebar button {
  margin: 5px 0;
  padding: 10px;
  background: #222;
  color: white;
  border: 1px solid orange;
  border-radius: 8px;
  cursor: pointer;
}

.sidebar button:hover {
  background: orange;
  color: black;
}

.main {
  flex: 1;
  padding: 30px;
}

.page.hidden {
  display: none;
}

.bigButton {
  padding: 20px 40px;
  font-size: 20px;
  background: orange;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.bigButton:hover {
  background: #ff9900;
}

#inventoryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  gap: 10px;
}

.itemCard {
  padding: 10px;
  background: #222;
  border-radius: 10px;
  border: 2px solid gray;
  font-size: 14px;
}

.common { border-color: gray; }
.rare { border-color: blue; }
.epic { border-color: purple; }
.legendary { border-color: gold; }

.itemCard button {
  margin-top: 5px;
  padding: 5px;
  background: orange;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
}

.itemCard button:hover {
  background: #ff9900;
}
